<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsInvestigacionSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.invfo.somee.com/wsInvestigacion.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsInvestigacionSoap"
                contract="ServicioBiblioteca.wsInvestigacionSoap" name="wsInvestigacionSoap" />
        </client>
    </system.serviceModel>
</configuration>